:root { 
    --fon-color:#2196F3;
   --tekst-color:#212121;
  --coment-color:#757575;
   --hero-color: #2F303A;
  --title-color: #FFFFFF;
   --back-color: #f5f4fa;
}

 h1,
 h2,
 h3,
 h4,
 p {
    margin-top: 0;
    margin-bottom: 0;
 }

 ol,ul {
    margin-top: 0;
    margin-bottom: 0;
 }
 *,
 *::after,
 *::backdrop {
    margin-top: 0;
    margin-bottom: 0;
 }
img {
    display: block;
}
button {
    cursor: pointer;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #212121;
}
   /*=========Header=====*/
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
   }
.page-header-container {
    display: flex;
    align-items: center;
  }
  .page-nav {
    display: flex;
    }
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19px;
    
    letter-spacing: 0.03em;
    color:var(--fon-color);
}
.logo-color {
    color:#000000
}
.menu-link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color:var(--tekst-color);
}
.menu-link:hover,
.menu-link:focus {
    color:var(--fon-color);
}
.contact {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--coment-color);
}
.contact:hover,
.contact:focus {
color:var(--fon-color);
}
.current {
    color:var(--fon-color);
}

/*=========================HERO====================*/
.hero {
    background:var(--hero-color);

}
.article__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--title-color);

}
.modal-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    
    letter-spacing: 0.06em;
    color:var(--title-color);
    cursor: pointer;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
}
.modal-btn:hover,
.modal-btn:focus {
background: #188ce8;
}

/*========Menu SITE=======*/
.heading {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--tekst-color);
}
.content {
    font-weight: 400;
    line-height: 1.71%;
    letter-spacing: 0.03em;
    color: var(--coment-color);
}

/*========What we do======*/
.short-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--tekst-color);

}
/* ========== TEAM ==========*/

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--tekst-color);
}
.team {
    background:var(--back-color);
}
.job-position {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--tekst-color);
}
.job-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--coment-color);
}
.team-list{
    background: var(--title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px 
    rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
/*========footer==========*/
.page-footer {
background: var(--hero-color);
}
.logo-color-w {
color: var(--title-color);
}
.adress-footer {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--title-color);

}
.contact-footer {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}

/* ========== PORTFOLIO ==========*/
.push-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--tekst-color);
    background:var(--back-color);
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}
button .current {
    color:var(--title-color);
    background:var(--fon-color);
}
.push-button:hover,
.push-button:focus {
    color:var(--title-color);
    background:var(--fon-color);
}
.portfolio-list {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--tekst-color);
}
.portfolio-direction {
    font-weight: 400;
    font-size: 16px;
    line-height:1.88;
    letter-spacing: 0.03em;
    color:var(--coment-color);
}

.portfolio-blocks {
    background:var(--title-color);
    border: 1px solid #EEEEEE;
}

